@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Syne:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background: #13131a;
	color: #ffffff;
	padding: 0;
	margin: 0;
	font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.bg-template {
	background: radial-gradient(
		ellipse at 50% 0%,
		hsl(240, 17%, 10%) 0%,
		hsl(240, 17%, 9%) 100%
	);
}

.bg-hero {
	position: relative;
	background-image: repeating-radial-gradient(
			circle at 50% 0px,
			transparent 0,
			rgba(19, 19, 27, 0.15) 10px
		),
		radial-gradient(
			ellipse at 50% 0%,
			rgba(111, 67, 148, 1) 00%,
			rgba(68, 54, 113, 1) 33%,
			rgba(19, 19, 27, 1) 100%
		);

	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 300px;
		width: 300px;
		border-radius: 1000rem;
		background: radial-gradient(
			ellipse at 0% 0%,
			rgb(75, 45, 99) 00%,
			rgb(55, 44, 93) 33%,
			rgba(19, 19, 27, 1) 100%
		);
		border: 10px solid #15131e;
		animation: rotate linear 4s infinite;
	}
	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 20px;
		width: 20px;
		border-radius: 1000rem;
		background: white;
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.text-stroke {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

//slider
.rc-slider-mark {
	font-size: 13pt !important;
	color: #fff !important;
}

.rc-slider-track {
	background-color: #4f46e5 !important;
}
